spring:
  application:
    name: dge-api-paef
  datasource:
    url: jdbc:postgresql://localhost:5433/paef
    username: paef
    password: paef
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  endpoint:
    health:
      probes:
        enabled: true

server:
  port: 8080

logging:
  level:
    org.springframework: INFO
    cv.gov.dge.paef: DEBUG

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://postgres:5432/paef
    username: paef
    password: ${PAEF_DB_PASSWORD:paef}
